.footer {
  background-color: #c0262d;
  color: black;
  height: 180px;
}

.footer-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.footer-link {
  color: black;
}

.footer-bottom {
  width: 50%;
  text-align: center;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
